@import "mod/common";
$green:#009688;
$gray:#b2b2b2;
img{
  width:5rem;
  height:5rem;
}
.table{
  width:100%;
  border-collapse: collapse;
  caption{
    //display:none;
  }
  th,td,caption{
    text-align: center;
    border:1px solid $border-color
  }
}
section{
  margin-bottom:1rem;
}
.title-small {
  border-left: 4px solid $green;
  padding: 10px 15px;
  background-color: #eee;
}
.gray{
  color:$gray;
}
.success{
  color:$green;
  &.disabled{
    color:#999999;
    cursor:not-allowed;
  }
}
.error{
  color:red !important;
  @include transform-scale(1.5);
  @include transition(transform);
  transform-origin: center;
}
.red {
  color: red;
}
@for $i from 1 through 3{
  .error-#{$i}{
    font-size:14px + $i*2;
  }
}
@mixin red{
  .red{
    @content;
  }
}
@include red{
  .bold{
    font-weight: 700;
  }
  color:red;
}
$num:3;
@while $num > 1 {
  .item-#{$num} {
    margin-left: 20px;
  }
  $num: $num - 1;
}