<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../css/vue.css">
</head>
<body>
<main  id="content">
    <h1>{{title}}</h1>
    <ol>
        <li><a href="#Mustache">插值</a></li>
        <li><a href="#htmlP">html</a></li>
        <li><a href="#bind">特性——v-bind:,缩写:</a></li>
        <li><a href="#express">使用javascript表达式</a></li>
        <li><a href="#order">指令</a></li>
        <li><a href="#computed">计算属性</a></li>
        <li><a href="#classStyle">class和style</a></li>
        <li><a href="#component">组件</a></li>
        <li><a href="#condition">条件渲染</a></li>
        <li><a href="#arr">数组渲染，对象数组渲染，for-in,for-of</a></li>
        <li><a href="#arrUpdate">数组更新</a></li>
        <li><a href="#eventDemo">事件示例</a></li>
    </ol>
    <section>
        <p id="Mustache">1、{{content}}</p>
        <p id="htmlP">
            2、<span v-html="htmlBold"></span>
        </p>
        <p id="bind">
            <h3>3、v-bind:</h3>
            v-bind:src【缩写：:src】<br>
            <img v-bind:src="clothes" alt="婚纱"><br>
            v-bind:disabled【缩写：:disabled】<br>
            <button type="button" :disabled="disable">禁用</button>
        </p>
        <p id="express">
            <h3>4、使用javascript表达式</h3>
            性别：
            <label>
                <input type="radio" value="0" v-model="sex">男
            </label>
            <label>
                <input type="radio" value="1" v-model="sex">女
            </label>
            <span>性别为：{{sex=="0"?"男":"女"}}</span>
        </p>
        <p id="order">
            <h3>5、指令：v-if , v-bind, v-click等等</h3>
            <span v-if="hide">你看不见我</span>
            <span v-if="show">你看得见我</span>
            <br>
            <a v-bind:href="baidu">百度一下</a>
            <br>
            <form @submit="">
                <button type="submit">登陆</button>
            </form>
            <form @submit.prevent="">
                <button type="submit">登陆</button>
            </form>
        </p>
        <p id="computed">
            <h3>6、计算属性的getter</h3>
            姓名：<input type="text" v-model="userName"><br>
            年龄：<input type="text" v-model="age"><br>
            <span>你的名字:{{reverseName}}</span><br>
            <span>你的年龄:{{age}}</span>
            <br>
            <span>你的信息：</span>{{info}}
            <h3>计算属性setter</h3>
        </p>
        <p id="classStyle">
            <h3>7、class 和 style</h3>
            <button type="button" v-bind:class="[{btn:true},isActive]">禁用</button>
            <button type="button">查询</button>
            <h4>样式对象</h4>
            <span :style="{color:'#0a0'}">调试成功，马上关闭</span>
            <h4>样式对象数组</h4>
            <span :style="[red,rotation]">调试成功，马上关闭</span>
        </p>
        <p id="component">8、组件：</p>
        <!--<my-component class="baz boo"></my-component>-->
        <h3 id="condition">9、条件渲染：v-if:只有当开始为真的时候，才会渲染</h3>
        <button type="button" @click="toggleResult">切换成功失败</button>
        <h4 v-if="ok">成功</h4>
        <h4 v-else>失败 <small>注意这里的v-else没有条件</small></h4>
        <h5>v-else-if</h5>
        <h4>你最喜欢的苹果？</h4>
        <label><input type="radio" value="1" v-model="fav">苹果</label>
        <label><input type="radio" value="2" v-model="fav">香蕉</label>
        <label><input type="radio" value="3" v-model="fav">橘子</label>
        <p>你最喜欢的是：
            <span v-if="fav == 1">苹果</span>
            <span v-else-if="fav == 2">香蕉</span>
            <span v-else>橘子</span>
        </p>
        <h4>v-show:基于css的切换</h4>
        <h3 id="arr">10、数组for-in、for-of</h3>
        <p>你的爱好：</p>
        <ul>
            <li v-for="item in favorite">
                {{item}}
            </li>
        </ul>
        <h5>对象数组：for-in</h5>
        <span>默认行为为用“就地复用”策略，为了给 Vue 一个提示，以便它能跟踪每个节点的身份，从而重用和重新排序现有元素，你需要为每项提供一个唯一 key 属性。</span>
        <button @click="showMan">男生</button>
        <table class="table">
            <caption>用户信息</caption>
            <thead>
            <tr>
                <th v-for="name in infoName">{{name}}</th>
            </tr>
            </thead>
            <tbody>
            <tr  v-for="(user,index) in infoObj" :key="user.id">
                <td>{{index}}</td>
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.sex==1?"男":"女"}}</td>
                <td>{{user.age}}</td>
                <td>{{user.add}}</td>
            </tr>
            </tbody>
        </table>
        <h4>直接过滤掉女生</h4>
        <table class="table">
            <caption>man信息</caption>
            <thead>
            <tr>
                <th v-for="name in infoName">{{name}}</th>
            </tr>
            </thead>
            <tbody>
            <tr  v-for="(user,index) in infoObjMan" :key="user.id">
                <td>{{index}}</td>
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.sex==1?"男":"女"}}</td>
                <td>{{user.age}}</td>
                <td>{{user.add}}</td>
            </tr>
            </tbody>
        </table>
        <h5>for-of</h5>
        <ol>
            <li v-for="color of colorArr">
                {{color}}
            </li>
        </ol>
        <h5>对象，第二个参数为键名</h5>
        <p>请联系公司</p>
        <div v-for="(value,key) in comObj">
            {{key}}：{{value}}
        </div>
        <h5>对象，第三个参数为索引</h5>
        <p>请联系公司</p>
        <div v-for="(value,key,index) in comObj">
           {{index}}_{{key}}：{{value}}
        </div>
        <p id="arrUpdate">
            <h3>11、数组更新</h3>
            <h4>变异方法:改变原始数组</h4>
            <ul>
                <li>push()</li>
                <li>pop()</li>
                <li>shift()</li>
                <li>unshift()</li>
                <li>splice()</li>
                <li>sort()</li>
                <li>reverse()</li>
            </ul>
            <h3>替换数组:不会改变原始数组，但总是返回一个新数组</h3>
            <ul>
                <li>filter()</li>
                <li>concat()</li>
                <li>slice()</li>
            </ul>
            <h4>以下两种数组变动的方式Vue无法检测到</h4>
            <ol>
                <li>当你利用索引直接设置一个项时，例如：vm.items[indexOfItem] = newValue</li>
                <li>当你修改数组的长度时，例如：vm.items.length = newLength</li>
            </ol>
            <h4>上面两种问题的解决方法：</h4>
            <p>问题一解决方法：<br>
                Vue.set(arr, indexOfItem, newValue)<br>
                // Array.prototype.splice<br>
                arr.splice(indexOfItem, 1, newValue)
            </p><br>
            <p>问题二解决方法：<br>
                example1.items.splice(newLength)
            </p>
            <h4>filter():过滤</h4>
            <h5>偶数：</h5>
            <span v-for="value of even()">{{value}}-</span>
        </p>
        <p id="eventDemo">
            <button type="button" @click="hello('',$event)">hello</button>
            <button type="button" @click="hello('lee',$event)">hello lee</button>
            <button type="button" @click="hello('lei',$event)">hello lei</button>
            <!-- 阻止单击事件继续传播 -->
            <a v-on:click.stop="doThis">stop</a>
            <!-- 提交事件不再重载页面 -->
            <form v-on:submit.prevent="doThis">prevent</form>
            <!-- 修饰符可以串联 -->
            <a v-on:click.stop.prevent="doThis">stop.prevent</a>
            <!-- 只有修饰符 -->
            <form v-on:submit.prevent>修饰符</form>
            <!-- 添加事件监听器时使用事件捕获模式 -->
            <!-- 即内部元素触发的事件先在此处处理，然后才交由内部元素自身进行处理 -->
            <div v-on:click.capture="doThis">capture</div>
            <!-- 只当在 event.target 是当前元素自身时触发处理函数 -->
            <!-- 即事件不是从内部元素触发的 -->
            <div v-on:click.self="doThis">self</div>
            <!-- 点击事件将只会触发一次 -->
            <a v-on:click.once="doThis">once</a>
            <h5>按键修饰符</h5>
            <input type="button" v-on:keyup.enter="doThis" value="enter">
        </p>
    </section>
</main>
</body>
<script src="../plugins/vue.js"></script>
<script src="../vueJs/1.js?1113001"></script>
</html>