<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>checkbox和过滤器 </title>
    <link rel="stylesheet" href="../../css/vue.css">
</head>
<body>
<section id="content">
    <h2>只有checkbox才存在boolean值，true和false,不设置value的时候，下面为true就选中，为false则不选</h2>
    <input type="checkbox" v-model="one">
    {{one}}
    <br>
    radio绑定的值非boolean,没有上面的选中和不选中的差别
    <input type="radio" v-model="rone">
    {{rone}}
    <br>
    <label><input type="checkbox" value="fast" v-model="carArr">快车</label>
    <label><input type="checkbox" value="special" v-model="carArr">专车</label>
    <label><input type="checkbox" value="basic" v-model="carArr">出租</label>
    <p>{{carArr}}</p>
    <p>数组不能进行下列操作</p>
    <!--<p>{{carArr | json}}</p>-->
    <!--<p>{{carArr | capitalize}}</p>-->
    <p v-for="car in carArr">{{car | capitalize}}+++++++++++++++++++{{car | uppercase}}</p>
    <h4>去掉首位空格，局部过滤器</h4>
    <input type="text" v-model="yourName" placeholder="你的名字">
    你的名字:{{yourName | trim}}
</section>
</body>
<script src="../../plugins/vue.js"></script>
<script>
    var vm = new Vue({
        el:"#content",
        data: {
            carArr:[],
            one:false,
            rone:true,
            yourName:""
        },
        filters:{//局部过滤器
            trim:function(value){
                if(typeof value == "string"){
                    String.prototype.trim = String.prototype.trim||function(value){
                                return value.replace(/(^\s*)(\s*$)/g,"");
                            };
                    console.log(value.trim());
                    return value.trim();
                }
            }
        }
    });
    //需要定义指令
    Vue.filter("capitalize",function(value){
        var first = value.slice(0,1).toUpperCase();
        return first+value.slice(1);
    });
    Vue.filter("uppercase",function(value){
        return value.toUpperCase();
    });
    Vue.filter("lowercase",function(value){
        return value.toLowerCase();
    });
</script>
</html>