
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<section id="content">
    <h3>v-if和v-else：不进行渲染</h3>
    <p>你想要看清吗？<input type="text" v-model="see">【1：看清，2：不看清】</p>
    <p v-if="isSee">你可以过你自己，可以做你自己吗？</p>
    <p>是可恨还是可怜？<br>
        <input type="radio" value="noHate" v-model="hate">原谅<br>
        <input type="radio" value="hate" v-model="hate">可恨<br>
    </p>
    <p v-if="isHate">你可以过你自己，可以做你自己.</p>
    <p v-else="isHate">你终于放过了自己。</p>
    <p>切换频繁的就用v-show或v-hide：只改变css的display属性</p>
    <p>是可恨还是可怜？<br>
        <input type="radio" value="do" v-model="doIt">行动<br>
        <input type="radio" value="noDo" v-model="doIt">拖延<br>
    </p>
    <p v-show="isDo">现在开始，一切来得及。</p>
    <p v-show="!isDo">再这么下去，就要over了。</p>
</section>
</body>
<script src="../../plugins/vue.js"></script>
<script>
    var vm = new Vue({
        el:"#content",
        data: {
            see: 1,
            hate:"hate",
            doIt:"do"
        },
        computed:{
            isSee:function(){
                return (this.see==1)?true:false;
            },
            isHate:function(){
                return this.hate=="hate"?true:false;
            },
            isDo:function(){
                return this.doIt=="do"?true:false;
            }
        }
    });
</script>
</html>