@import "mixin";
.btn{
  display:inline-block;
  cursor: pointer;
  text-align: center;
  line-height: 1;
  border:none;
  &:focus,&:focus:active{
    @include outline-shadow-none();
  }
  @include transition(background-color,$time);
  @include font-dpr(.7rem);
  @include h-radius($radius:$radius);
  padding: 0 12px;
  &.bg-lg{
    @include font-dpr(1.2rem);
    padding: 0 30px;
    @include h-radius(50px,50px,$radius);
  }
  &.bg-md{
    @include font-dpr(1rem);
    padding: 0 20px;
    @include h-radius(40px,40px,$radius);
  }
  &.bg-xs{
    @include font-dpr(.75rem);
    padding: 0 8px;
    @include h-radius(30px,30px,$radius);
  }
}
.btn-theme{
  color:#fff;
  background-color: $theme;
  &:hover,&:focus{
    color:#fff;
    background-color: $theme-bold;
  }
}